# PYTHON PANDAS SERIES

Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).

## Example 1

In [1]:
import pandas as pd

data = [0, 1, 2, 3]

ser = pd.Series(data)
print(ser)

0    0
1    1
2    2
3    3
dtype: int64

## Example 2

In [3]:
import pandas as pd

ages = [20, 25, 30, 35]
s = pd.Series(ages, index=["Mike", "Jane", "Mary", "Joe"])
print(s)

Mike    20
Jane    25
Mary    30
Joe     35
dtype: int64

## Example 3 Creating a Series from a dictionary

In [4]:
import pandas as pd

salaries = {
    "Mike": 50000,
    "Jane": 45000,
    "Mary": 37000,
    "Joe": 40000
}

s = pd.Series(salaries)
print(s)

Mike    50000
Jane    45000
Mary    37000
Joe     40000
dtype: int64

## Example 4 Creating a Series from a DataFrame

In [5]:
import pandas as pd

# Sample DataFrame
data = {
    "Name": ["Mike", "Jane", "Mary", "Joe"],
    "Age": [20, 25, 30, 35],
    "Salary": [50000, 45000, 37000, 40000]
}

df = pd.DataFrame(data)

Let's choose age to be our series

In [6]:
age_series = df["Age"]
print(age_series)

0    20
1    25
2    30
3    35
Name: Age, dtype: int64

In [ ]:
Or, you can also choose this way

In [7]:
#valid but redundant
ageSeries = pd.Series(df["Age"])
print(ageSeries)

0    20
1    25
2    30
3    35
Name: Age, dtype: int64