# Working with Excel files using Pandas

Excel sheets are very instinctive and user-friendly, which makes them ideal for manipulating large datasets even for less technical folks.

## Reading Excel File using Pandas in Python

One can retrieve information from a spreadsheet.
Reading, writing, or modifying the data can be done in Python using different methods.
Also, the user might have to go through various sheets and retrieve data based on some criteria or modify some rows and columns and do a lot of work.
Here, we will see the different methods to read our excel file.

### Required Module
```bash
pip3 install xlrd
```
AND

```bash
pip3 install openpyxl //most important
```

In [1]:
import pandas as pd

## Reading an excel file using Python using Pandas

we use read_excel() function

In [2]:
df = pd.read_excel('SampleWork.xlsx')
print(df)

       Name   Age    Stream  Percentage
0      Ankit   18      Math          95
1      Rahul   19   Science          90
2    Shaurya   20  Commerce          85
3  Aishwarya   18      Math          80
4   Priyanka   19   Science          75

## read_excel() function

In [ ]:
pd.read_excel(io, sheet_name=0, header=0, names=None, usecols=None, nrows=None, skiprows=None, engine=None, true_values=None, comment=None, converters=None)

### Parameters

+ **io: str, bytes, ExcelFile, xlrd.Book, path object, or file-like object**
  + Any valid string path is acceptable. The string could be a URL.
  + Valid URL schemes include http, ftp, s3, and file.
  + For file URLs, a host is expected.

+ **sheet_namestr, int, list, or None, default 0**
  + Which sheet to read
  + 0: first(default)

+ **header**
  + Row number to use as column headers

+ **names**
  + Override column names
  + Example:
  + ```python
    pd.read_excel("data.xlsx", header=None, names=["Name", "Age"])
    ```

+ **usecols**
  + Which columns to read

+ **skiprows**
  + Number of rows or list of rows to skip at the top

+ **nrows**
  + Number of rows to read

+ **engine**
  + Backend library to use
  + "openpyxl" → Recommended for .xlsx
  + "xlrd" → Legacy support for .xls only (not .xlsx anymore)

+ **true_values**
  + Values to recognize as True
  + E.g.
  + ```python
    true_values=["YES", "Y", "True"]
    ```

+ **comment**
  + Characters marking comments (ignored)
  + Lines starting with # will be ignored

+ **converters**
  + Dict of column converters (functions)
  + Force a type or apply transformation while reading
  + Example:
  + ```python
    converters={'Date': pd.to_datetime, 'ID': str}
    ```

## Some operations

1. So, let's create a simple excel file

In [2]:
# import the pandas library with the alias pd
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

df.to_excel('people.xlsx', index=False)

2. Now, let's view the (people.xlsx) file

In [3]:
import pandas as pd

df = pd.read_excel('people.xlsx')
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

3. Let's create some sheets

In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago'],
    'Email': ['alice@example.com', 'bob@example.com', 'charlie@example.com']
}

df = pd.DataFrame(data)

# sheet 1: Employees
employees_df = df[['Name', 'Age']]

#sheet 2: Contacts
contacts_df = df[['Name', 'Age', 'Email']]

#sheet 3: FullData (the full DataFrame)
full_df = df.copy()

# Write all three sheets to the same Excel file
with pd.ExcelWriter('people.xlsx', engine='openpyxl', mode='w') as writer:
    employees_df.to_excel(writer, sheet_name='Employees', index=False),
    contacts_df.to_excel(writer, sheet_name='Contacts', index=False),
    full_df.to_excel(writer, sheet_name='Full_Data', index=False)

let's see if it worked

In [2]:
import pandas as pd

people_data = pd.read_excel('people.xlsx', sheet_name=['Employees', 'Contacts', 'Full_Data'])
print("\n--- Employees Data ---\n")
print(people_data['Employees'])

print("\n--- Contacts Data ---\n")
print(people_data['Contacts'])

print("\n--- Full Data ---\n")
print(people_data['Full_Data'])

--- Employees Data ---

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

--- Contacts Data ---

      Name  Age                Email
0    Alice   25    alice@example.com
1      Bob   30      bob@example.com
2  Charlie   35  charlie@example.com

--- Full Data ---

      Name  Age         City                Email
0    Alice   25     New York    alice@example.com
1      Bob   30  Los Angeles      bob@example.com
2  Charlie   35      Chicago  charlie@example.com

4. shape property

The .shape can be used to view the number of rows and columns in the data frame as follows:

In [ ]:
# syntax
(rows, columns)

In [5]:
print(df.shape)

(3, 4)

In [6]:
# Employees sheet
print(employees_df.shape)

(3, 2)

In [7]:
# Contacts sheet
print(contacts_df.shape)

(3, 3)

In [8]:
# Full Data sheet
print(full_df.shape)

(3, 4)

5. Pandas Describe() method

Now, suppose our data is mostly numerical.
We can get the statistical information like mean, max, min, etc. about the data frame using the describe() method as shown below:

In [9]:
df.describe()

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [10]:
# Employees sheet
employees_df.describe()

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [11]:
# Contacts sheet
contacts_df.describe()

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [12]:
# Full data
full_df.describe()

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

6. Head() and Tail() methods in Pandas

To view columns from the top and from the bottom of the data frame, we can run the command.
This head() and tail() method also take arguments as numbers for the number of columns to show.

In [13]:
df.head()

      Name  Age         City                Email
0    Alice   25     New York    alice@example.com
1      Bob   30  Los Angeles      bob@example.com
2  Charlie   35      Chicago  charlie@example.com

In [14]:
df.tail()

      Name  Age         City                Email
0    Alice   25     New York    alice@example.com
1      Bob   30  Los Angeles      bob@example.com
2  Charlie   35      Chicago  charlie@example.com

7. Sort_values() method in Pandas

If any column contains numerical data, we can sort that column using the sort_values() method in pandas as follows:

In [ ]:
# syntax
df.sort_values(by, ascending=True, inplace=False) # there isn't a "descending"

+ Parameters:
  + **by**: Column name (or list of column names) to sort by.
  + **ascending**: True (default) sorts in ascending order; use False for descending.
  + **inplace**: If True, modifies the DataFrame in place.

In [16]:
# sort by "Age"
sorted_df = df.sort_values(by='Age')
print(sorted_df)
print('\n')
# Multiple columns
print(df.sort_values(by=['City', 'Age'], ascending=[True, False]))

      Name  Age         City                Email
0    Alice   25     New York    alice@example.com
1      Bob   30  Los Angeles      bob@example.com
2  Charlie   35      Chicago  charlie@example.com


      Name  Age         City                Email
2  Charlie   35      Chicago  charlie@example.com
1      Bob   30  Los Angeles      bob@example.com
0    Alice   25     New York    alice@example.com